body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative; /* Added position relative to position the text */
  overflow: hidden; /* Hide overflow to prevent scrollbars due to large text */
}

#year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40vw; /* Set font size to cover 40% of the viewport width */
  color: rgba(0, 0, 0, 0.2); /* Set text color with 20% opacity */
  z-index: -1; /* Put it behind other content */
}

#overlayText {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3vw;
  color: #FFF;
  z-index: 1; /* Put it in front of the year */
}

.countdown {
  
  display: flex;
  justify-content: space-between;
  font-size: 5vw;
  color: #FF6347;
}

.countdown > div {
  text-align: center;
  padding: 2%;
}

@media (max-width: 768px) {
  .countdown {
    align-items: center;
    flex-direction: column;
    font-size: 20vw;
  }

  #year {
    font-size: 40vh; /* Adjust the font size for smaller devices */
    transform: translate(-50%, -50%) rotate(-90deg); /* Rotate and center the text */
    top: 50%;
    left: 50%;
  }

@media (min-width: 1024px) {
  .countdown {
    justify-content: space-around;
  }
}
